KERNEL=="ttyS3",SYMLINK+="serial_ble",MODE="777"
KERNEL=="video44",SYMLINK+="right_oa_camera",MODE="777"
KERNEL=="ttyS9",SYMLINK+="serial_mower",MODE="777"
KERNEL=="event5",SYMLINK+="keyboard",MODE="777"
KERNEL=="video53",SYMLINK+="left_oa_camera",MODE="777"
KERNELS=="2-1:1.0",SUBSYSTEMS=="usb",ATTR{index}=="0",SYMLINK+="rear_camera",MODE="777"
SUBSYSTEM=="iio",ATTR{name}=="fec10000.saradc",RUN+="/bin/ln -sf $sys$devpath/in_voltage4_raw /dev/rain",SYMLINK+="rain",MODE="777"
KERNEL=="ttyS1",SYMLINK+="serial_imu",MODE="777"
KERNEL=="ttyUSB2",SYMLINK+="serial_lte",MODE="777"
KERNEL=="ttyS4",SYMLINK+="serial_rtk",MODE="777"
